{% extends "./base.html" %}
{% block content %}
<section class="vh-100" style="background-color: #ffffff;">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card shadow-lg">
                    <div class="card-body p-4">
                        <h2 class="text-uppercase text-center mb-4">Create an account</h2>

                        <form action="/signin" method="POST">
                            {%csrf_token%} 
                            {% if error_msg %}
                            <div class="alert alert-danger" role="alert">
                                <h4 class="alert-heading">{{ error_msg }}</h4>
                            </div>
                            {% endif %}
                            
                            <div class="form-group">
                                <label for="name">Your Name</label>
                                <input value="{{values.name}}" name="name" type="text" class="form-control" id="name" placeholder="Your Name" required>
                            </div>

                            <div class="form-group">
                                <label for="email">Your Email</label>
                                <input value="{{values.email}}" name="email" type="email" class="form-control" id="email" placeholder="Your Email" required>
                            </div>

                            <div class="form-group">
                                <label for="phone_no">Phone No</label>
                                <input value="{{values.phone_no}}" name="phone_no" type="text" class="form-control" id="phone_no" placeholder="Phone No" required>
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
                            </div>

                           <!-- Checkboxes for User and Seller -->
                           <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" name="usertype" id="userCheckbox" value="False" checked>
                            <label class="form-check-label" for="userCheckbox">
                                Login as User
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="usertype" id="sellerCheckbox" value="True">
                            <label class="form-check-label" for="sellerCheckbox">
                                Login as Seller
                            </label>
                        </div>
                        

                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-dark btn-lg">Create Account</button>
                            </div>

                            <p class="text-center text-muted mt-4 mb-0">Already have an account? <a href="#!" class="fw-bold text-primary"><u>Login here</u></a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
